.nav-link.active {
  text-decoration: underline;
  color: var(--bs-blue) !important;
}

.c-img {
  height: 100%;
  object-fit: fill;
}

.c-item {
  height: 240px;
}

.row-contact {
  padding: 10px;
}

